* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

.comtainer {

    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
}

.text_p {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.image {
    padding: 20px;
}

th {
    width: 241px;
    text-align: center;
    padding: 15px 20px;
}
td {
    width: 241px;
    text-align: center;
    padding: 0 20px;
}

.left {
    text-align: left;
}

button {
    width: 100%;
    padding: 8px 36px;
    background-color: blueviolet;
}

.last {
    padding: 15px 20px;
}